<?xml version="1.0" encoding="UTF-8"?>


<p:zk xmlns:p="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul  
	http://www.zkoss.org/2005/zul/zul.xsd ">

	<p:grid>
		<p:columns>
			<p:column></p:column>
		</p:columns>
		<p:rows>
			<p:row>
				<p:label style="font-size:25px" value="Paieška:" />
			</p:row>
			<p:row>
				<p:hbox>
					<p:textbox id="searchBox" type="text"
						style="font-size:12px" 
						width="120px"
						onOK="@command('search', query=searchBox.value)"/>
					<p:button id="searchBut" label="Ieškok" 
						onClick="@command('search', query=searchBox.value)"/>
					<p:button id="clearBut" label="Valyk" 
						onClick="@command('refresh')"/>
				</p:hbox>
			</p:row>
			<p:row>
				<p:separator />
			</p:row>
			<p:row>
				<p:fileupload label="Įkelti failą"
					onUpload="@command('upload', upEvent=event)" />
			</p:row>
			<p:row>
				<p:button label="Parsisiųsti failą"
					onClick="@command('download')" />
			</p:row>
			<p:row>
				<p:button label="Ištrinti failą"
					onClick="@command('delete')" />
			</p:row>
		</p:rows>
	</p:grid>

</p:zk>
