<?xml version="1.0" encoding="UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<p:zk xmlns:p="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul  
	http://www.zkoss.org/2005/zul/zul.xsd ">

	<p:window id=mainWindow vflex="1" hflex="1" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('fvm') @init('lt.insoft.fileup.vm.FileVM')">

		<p:borderlayout hflex="1">
			<p:north height="100px" border="none">
				<p:label style="font-size:50px" value="FileUp" />
			</p:north>
			<p:west width="260px" border="none" splittable="true">
				<p:include src="/components/sidebarGrid.zul" />
			</p:west>
			<p:east width="260px">
				<p:include src="/components/textPreview.zul"/>
			</p:east>
			<p:center>
				<p:include src="/components/fileList.zul" />
			</p:center>
		</p:borderlayout>

	</p:window>

</p:zk>
